:root {
  --brand: #01b5fb;
  --sub: #6ac754;
  --body: #516171;
  --border: rgba(0,0,0,0.08);
  --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

/*** Section Title ***/
.section-title {
  position: relative;
  display: inline-block;
}

.section-title::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  left: -55px;
  margin-top: -1px;
  background: var(--brand);
}

.section-title::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  top: 50%;
  right: -55px;
  margin-top: -1px;
  background: var(--brand);
}

.section-title.text-start::before,
.section-title.text-end::after {
  display: none;
}

.ff-secondary {
  font-family: 'Pacifico', cursive;
}


/*Slider*/

.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, .1);
  z-index: 1;
}
.carousel-item img{
  filter: brightness(50%);
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
  background-color: transparent;
}
/* .carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  width: 3rem;
  height: 3rem;
  background-color: var(--brand);
} */

@media (max-width: 768px) {
  #header-carousel .carousel-item {
      position: relative;
      min-height: 450px;
  }
  
  #header-carousel .carousel-item img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
}
.carousel-caption .btn{
  color: white;
  background-color: var(--brand);
  border: 2px solid var(--brand);
}
.carousel-caption .btn:hover{
  color: white;
  background-color: transparent;
  border: 2px solid var(--brand);
}


/*---------------------
  Home About
-----------------------*/

.home-about {
	padding-bottom: 0;
  margin-top: 30px;
}

.home__about__pic {
	margin-right: -20px;
	padding-right: 30px;
}

.home__about__pic__item img{
	height: 470px;
	width: calc(50% - 20px);
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
  margin-top: 10px;
  object-fit: cover;
}

.home__about__pic__item__inner img {
	height: 220px;
	margin-bottom: 20px;
  margin-top: 10px;
  object-fit: cover;
}


.home__about__text {
	padding-top: 35px;
}

.home__about__text .section-title {
	text-align: left;
	margin-bottom: 24px;
}

.home__about__text span {
	display: block;
	font-size: 16px;
	color: #404D80;
	margin-bottom: 12px;
}

.home__about__text p.para-2 {
	margin-bottom: 40px;
}

.about-row{
  display: flex;
  align-items: center;
}


/* Image section */


#call-to-action {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background: linear-gradient(rgba(42, 77, 115, 0.5), rgba(42, 77, 115, 0.5)), url(../img/image-2/img7.jpg) center center fixed;
  background-size: cover;
  padding: 60px 0;
}

.img-content{
  max-width: 600px;
}

#call-to-action h3 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
}

#call-to-action p {
  color: #fff;
}


@media (max-width: 768px){
  .img-content h6{
    font-size: 14px;
  }
  #call-to-action h3 {
    font-size: 25px;
    font-weight: 600;
  }
}

/**Courses**/

.mv{
  overflow: hidden;
}
.mv-img{
  overflow: hidden;
}
.mv-img img{
  object-fit: cover;
}
.mv .mv-row .mv-img img{
  height: 300px;
  width: 100%;
  border-radius: 10px;
}
.mv .mv-row{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 991px){
  .mv-row .mission-content{
    margin-bottom: 70px;
  }
  .mv-row .mv-content{
    margin-bottom: 30px;
  }
  .mv .mv-row{
    margin-bottom: 50px;
  }
  .mv .mv-row .mv-img{
    margin-bottom: 50px;
    order: 1;
  }
  .mv .mv-row .mv-content{
    order: 2;
  }
}

@media (max-width: 370px){
  .mv .mv-row .mv-img, .mv .mv-row .mv-content{
    width: 100%;
  }
}

.mv-img img{
  transition: 1s;
}
.mv-img img:hover{
  scale: 0.9;
}

.d-table-sub{
  height: 100%;
  background-color: #f9fafa;
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 30px 50px 0px 50px;
  border-top: 5px solid var(--brand);
}
.d-table-sub h4{
  color: var(--brand);
}
.d-table-sub a{
  font-size: 20px;
}
.d-table-sub a:hover{
  color: #26bdc0;
}

.about-date{
  height: 100%;
  display: flex;
  /* gap: 40px; */
  justify-content: center;
  flex-direction: column;
}
.about-date-sub{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(0, 0, 0,0.1);
  margin: 7px 0px;
}
.about-date-sub p{
  color: white;
}
@media (max-width: 499px){
  .about-date-sub p{
    font-size: 12px;
  }
  .d-table-sub{
    padding: 30px 10px;
  }
}
@media (max-width: 360px){
  .about-date .about-date-sub h4{
    font-size: 18px;
  }
}
.d-table-sub-box{
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);;
}

.section-titles hr{
  color:  #000000;
  width: 50%;
  height: 2px;
  margin: 20px auto;

}

.section-titles {
margin-bottom: 26px;
text-align: left;
}

.section-titles h2 {
margin-bottom: 30px;
margin-top: 10px;
text-align: center;
}

.section-titles p {
color: #6E7580;
line-height: 24px;
margin-bottom: 0;
}

.cards-main{
  overflow: hidden;
}
.cards-sub{
  position: relative;
  height: 100%;
  /* display: inline-block; */
  text-align: center;
  background-color: var(--brand);
  padding: 30px 20px;
  border-radius: 5px;
}
.cards .cards-sub:after{
  content: "";
  width: 94%;
  height: 94%;
  position: absolute;
  top: 3%;
  left: 3%;
  border: 1px solid rgb(255, 255, 255);
}
.cards-sub h5, .cards-sub p{
  color: white;
}
.cards-sub h5{
  text-transform: uppercase;
  font-weight: 600;
}
.cards-sub p{
  font-size: 14px;
}
.cards-img img{
  height: 70px;
}
.card-btn{
  background-color: white;
  border: 2px solid white;
  color: var(--brand);
  font-size: 14px;
  border-radius: 5px;
}
.cards-sub{
  transition: 0.5s;
}
.cards-sub:hover{
  background-color: #d58700;
}
.cards-sub:hover .card-btn{
  background-color: transparent;
  border: 2px solid white;
  color: white;
}
.cards-details p{
  padding: 0px 10px;
}

.bg-img{
  height: 300px;
  background: linear-gradient(rgba(42, 77, 115, 0.5), rgba(42, 77, 115, 0.5)), url(../img/image-2/img8.jpg) center center fixed;
  background-size: cover;
}


 /*** Testimonial ***/
 .testimonial-carousel .owl-dots {
  height: 40px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  background: transparent;
  border: 2px solid var(--brand);
  transition: .5s;
}

.testimonial-carousel .owl-dot.active {
  width: 30px;
  height: 30px;
  background: var(--brand);
}

.testimonial{
  border: 2px solid var(--brand);
  border-radius: 15px;
}

/* Path */

.banner-area {

  position: relative;

  min-height: 300px;

  color: #fff;

  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../img/image-2/img2.jpg) ;

  background-size: cover;

  background-position: center;

  background-repeat: no-repeat;

}



.banner-title {

  color: #fff;

  text-transform: uppercase;

  font-size: 38px;

  font-weight: 900;

}



@media (max-width: 767px) {

  .banner-title {

    font-size: 48px;

  }

}



@media (max-width: 575px) {

  .banner-title {

    font-size: 32px;

  }

}



.banner-text {

  position: absolute;

  top: 50%;

  left: 0;

  right: 0;

  max-width: 1170px;

  margin: 0 auto;

  width: 100%;

  z-index: 1;

  -webkit-transform: translateY(-50%);

          transform: translateY(-50%);

}



.banner-heading {

  text-align: center;

}



.breadcrumb {

  padding: 0;

  background: none;

  font-weight: 700;

  text-transform: uppercase;

  font-size: 12px;

}



.breadcrumb li a,

.breadcrumb .breadcrumb-item,

.breadcrumb li a:focus {

  color: #fff !important;

  text-decoration: none;

}



.breadcrumb li a:hover {

  text-decoration: underline;

}



.breadcrumb .breadcrumb-item + .breadcrumb-item::before {

  color: #fff;

}


/* Image Gallery */
.untree_co-section {
  padding: 100px 0;
  position: relative;
}

@media (max-width: 991.98px) {
  .untree_co-section {
      padding: 50px 0;
  }
}

.untree_co-section .heading h3 {
  font-size: 35px;
  color: #000000;
}

@media (max-width: 991.98px) {
  .untree_co-section .heading {
      font-size: 20px;
  }
}

.untree_co-section .heading strong {
  font-weight: 700;
}

.item {
  border: none;
  margin-bottom: 30px;
  border-radius: 4px;
  display: block;
}

.item a {
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  display: block;
}

.item a img {
  position: relative;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.item .item-wrap {
  display: block;
  position: relative;
}

.item .item-wrap:after {
  z-index: 2;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.item .item-wrap > i {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  color: #ffffff;
  font-size: 1.7rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.item .item-wrap:hover:after {
  opacity: 1;
  visibility: visible;
}

.item .item-wrap:hover i {
  margin-top: 0px;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

/* .item:hover a img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
} */

.item-wrap:hover img{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}
